*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: "";
    display:table;
    clear: both;
}

*{
   font-family: Arial, Helvetica, sans-serif;
   
}

header li a{
    text-decoration: none;
    color: black;
}

ul{
    list-style-type: none;
 
}

header{
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 80px;
    background-color: white;
}
/* menù container */

.menucontainer{
    width: 100%;
    height: 60px;
    display: inline-block;
}



/* left */
.menucontainer1{
    margin: 10px;
    display: inline-block;
    width: 50%;
    height: 100px;
}

.menucontainer1 div{
    display: inline-block;
    padding: 10px;
}

.menucontainer1 div li{
    display: inline-block;
    padding: 10px;
}

.menucontainer1 img{
    vertical-align: middle;
    cursor: pointer;
    
}
/* right */

.menucontainer2{
    margin: 10px;
    ;
    width:40%;
    float: right;
    text-align: right;
}

.menucontainer2 div{
    display: inline-block;
    padding: 10px;
}

.menucontainer2 nav ul li{
    display: inline-block;
    padding: 20px;
    text-align: right;
}

/* hover */

.menucontainer1 a:hover{
    background-color: rgba(0, 0, 0, 0.089);
}

.menucontainer2 a:hover{
    background-color: rgba(0, 0, 0, 0.089);
}

/* buttons */

.inizia{
    padding: 10px 20px;
    text-align: center;
    background-color: #0061FF;
    color: white;
}



.contain{
    width: 100%;
    height:40em;
    background-color: #B4D0E7;
    margin-top: 20px;
    
}

.jumbo{
    width: 90%;
    height: 40em;
    margin: 0 auto;
    padding:10px ;
    margin-top: 80px;
    margin-bottom: 5em;
}


.jumbo img{
    width: 50%;
    float: right;
}

.jumbo h1{
    text-align: left;
    padding: 20px;
    font-size: 50px;
    margin-top: 2em;
}

.jumbo p{
    text-align: left;
    font-size: 15px;
    padding: 20px;
    margin-bottom: 20px;
}

.text a{
    text-decoration: none;
    text-align: left;
    margin-left: 20px;
    margin-bottom: 10px;
}

.fa-arrow-down{
    font-size: 30px;
    margin-left: 20px;
}

/* prezzi */

.row{
    border: 1px solid black;
    margin-top: 10em;
    width: 80%;
    height:80em;
    margin: auto;
   
}

.row h2{
    margin-bottom: 50px;
    text-align: left;
}

.row form{
    display: inline-block;
    text-align: center;
    margin-bottom: 10px;
}

.bars{
    height: 80%;
    
}





