*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: "";
    display:table;
    clear: both;
}

*{
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
}

header li a{
    text-decoration: none;
    color: black;
}

ul{
    list-style-type: none;
 
}

/* menù container */
.menucontainer{
    width: 100%;
    height: 80px;
    display: inline-block;
}



/* left */
.menucontainer1{
    margin: 10px;
    display: inline-block;
    width: 50%;
    height: 100px;
}

.menucontainer1 div{
    display: inline-block;
    padding: 10px;
}

.menucontainer1 div li{
    display: inline-block;
    padding: 10px;
}

.menucontainer1 img{
    vertical-align: middle;
    cursor: pointer;
}
/* right */

.menucontainer2{
    margin: 10px;
    ;
    width:40%;
    height: 100px;
    float: right;
    text-align: right;
}

.menucontainer2 div{
    display: inline-block;
    padding: 10px;
}

.menucontainer2 nav ul li{
    display: inline-block;
    padding: 20px;
    text-align: right;
}

/* hover */

.menucontainer1 a:hover{
    background-color: rgba(0, 0, 0, 0.089);
}

.menucontainer2 a:hover{
    background-color: rgba(0, 0, 0, 0.089);
}

/* buttons */

.inizia{
    padding: 10px 20px;
    text-align: center;
    background-color: #0061FF;
    color: white;
}



main{
    margin-top: 10px;
}


.contain{
    border: 1px solid lightblue;
    width: 100%;
    height:calc(40em - 30px);
    background-color: #B4D0E7;
}

